body {
    font-family: 'Roboto', sans-serif;
}

* {
    margin: 0;
    box-sizing: border-box;
}

main {
    font-size: 19px;
    padding: 120px 20px 0 20px;
    height: 94.9vh;
}

main h1 {
    text-align: center;
    margin-bottom: 20px;
}

main li {
    margin: 8px 0;
}

main a {
    text-decoration: none;
    color: #333;
}

main a:hover {
    text-decoration: underline;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #343447;
    font-style: italic;
    height: 50px;
}